<header class="header">
    <nav class="nav">
        <a href="{{ url_for('shop') }}" class="logo" data-translate="logo.title">Christmas Magic</a>
        
        <ul class="nav-links">
            <li><a href="{{ url_for('product_types_page') }}" data-translate="nav.home">Home</a></li>
            <li><a href="{{ url_for('about') }}" data-translate="nav.about">About</a></li>

            <li><a href="{{ url_for('shop') }}" data-translate="nav.shop">Shop</a></li>
        </ul>
    </nav>
</header>